@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ตั้งค่าฟอนต์เริ่มต้น */
body {
  font-family: "Kanit", sans-serif;
}


/* Class สำหรับน้ำหนักและสไตล์ฟอนต์ */
.kanit-italic {
  font-style: italic;
}

.kanit-thin-italic { font-weight: 100; }
.kanit-extralight-italic { font-weight: 200; }
.kanit-light { font-weight: 300; }
.kanit-regular { font-weight: 400; }
.kanit-medium { font-weight: 500; }
.kanit-semibold { font-weight: 600; }
.kanit-bold { font-weight: 700; }
.kanit-extrabold { font-weight: 800; }
.kanit-black { font-weight: 900; }

.kanit-thin-italic { font-weight: 100; font-style: italic; }
.kanit-extralight-italic { font-weight: 200; font-style: italic; }
.kanit-light-italic { font-weight: 300; font-style: italic; }
.kanit-regular-italic { font-weight: 400; font-style: italic; }
.kanit-medium-italic { font-weight: 500; font-style: italic; }
.kanit-semibold-italic { font-weight: 600; font-style: italic; }
.kanit-bold-italic { font-weight: 700; font-style: italic; }
.kanit-extrabold-italic { font-weight: 800; font-style: italic; }
.kanit-black-italic { font-weight: 900; font-style: italic; }

/* ฟอนต์สำหรับโค้ด */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Kanit', sans-serif;
}
